<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is VueJs</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h3>Hello Vue Js</h3>
    </header>

    <div id="app">
      <h3>Skills</h3>
      <input type="text" v-model="newSkill.name" @keyup.enter="addSkill" />
      <button @click="addSkill">Add</button>
      <ul>
        <li v-for="(skill , index) in skills" @click="removeSkill(index)">{{ index+1 }} {{ skill.name }} ({{ skill.experience }})</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
